.newFont {
  font-family: 'Times New Roman', Times, serif;
}

.background {
  background-color: #ededed;
}

.newColor{
  color: #57afa9;
}

.backColor{
  background-color: #57afa9;
}

.vsTitles{
  text-align: center;
  font-size: small;
  font-family: 'Times New Roman', Times, serif;
  color: #57afa9;
}

a:hover 
{
  border: #57afa9;
}

.highligthed{
  border:3px solid #57afa9;
}

@media (max-width: 990px) {
  .navbar{
    background-color: #57afa9;
  }
}